input:valid {
    background-color: #CFF5E7;
}

input:invalid {
    background-color: lightpink;
}

input {
    font-size:16px;
    padding:2px;
    border-width:1px;
    border-radius:5px;
    border-color:#063970;
    border-style:groove;
    font-family:monospace;
}

th, td {
    padding:5px
}

hr {
    width: 60%;
}

form i {
    cursor: pointer;
    margin-left: -30px;
}


/* Colors */
.main-bg-color {
    background-color: #CFF5E7/*D6CDA4*/;
}

.second-bg-color {
    background-color: #A0E4CB/*3D8361*/;
}

.third-bg-color {
    background-color: #59C1BD/*1C6758*/;
}

.forth-bg-color{
    background-color: #0D4C92/*EEF2E6*/;
}

.second-bg-color {
    color: #A0E4CB;
}

.third-color {
    color: #59C1BD;
}

.forth-color{
    color: #0D4C92;
}

.ghostwhite-bg-color {
    background-color: ghostwhite;
}

.ghostwhite-color {
    color: ghostwhite;
}

.color-darkgrey {
    color: darkgrey;
}

.color-white {
    color: white;
}

.color-bg-white {
    background-color: white;
}

.color-bg-cv {
    background-color: #031633;
}

.color-text-cv {
    color: #031633;
}

.color-bg-cv-second-1 {
    background-color: #34434a;
}

.color-bg-cv-second-2 {
    background-color: #bbdfc8;
}

.color-cv-second-1 {
    color: #34434a;
}

.color-cv-second-2 {
    color: #bbdfc8;
}


/* Icon */
.icon-size-64 {
    width: 64px;
    height: 64px;
}

.icon-size-32 {
    width: 32px;
    height: 32px;
}

.icon-text {
    margin-bottom: -8px;
    color: #1a1d20;
}

.add-icon {
    width: 0.9em;
    float: right;
}

.edit-icon {
    width: 0.7em;
    float: right;
}

.remove-icon {
    width: 0.6em;
    float: right;
}

.second-cv-icon {
    width: 1.4em;
    float: left;
}


/* Align */
.align-items-center {
    text-align-last: center;
}

.align-items-left {
    text-align-last: left;
}

.joby-block {
    border: solid #59C1BD 1px;
    border-radius: 10px;
    border-block-start-width: 10px;
}


/* Size */
.w-10em {
    width: 10em;
}

.w-12em {
    width: 12em;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-50em {
    width: 50em;
}

.w-60 {
    width: 60%;
}

.w-85 {
    width: 85%;
}

.w-94 {
    width: 94%;
}

.h-15 {
    height: 15%;
}

.h-33 {
    height: 33%;
}

.h-65 {
    height: 65%;
}

.h-70-px {
    height: 70px;
}

.h-95-px {
    height: 95px;
}

.pt-10 {
    padding-top: 10%;
}

.p-0 {
    padding: 0px;
}

.mt-1-N {
    margin-top: -1%;
}

.mt-2-N {
    margin-top: -2%;
}

.mt-4-N {
    margin-top: -4%;
}

.mt-7-N {
    margin-top: -7%;
}

.mt-30-N {
    margin-top: -30%;
}

.mt-110-N {
    margin-top: -110px;
}

.ms-3 {
    margin-left: 3%;
}

.ms-25 {
    margin-left: 25%;
}

.ms-30 {
    margin-left: 30%;
}

.ms-45 {
    margin-left: 45%;
}

.ms-1-N {
    margin-left: -1%;
}

.ms-3-N {
    margin-left: -3%;
}

.ms-4-N {
    margin-left: -4%;
}

.mb-2-N {
    margin-bottom: -2%;
}

.mb-5-N {
    margin-bottom: -5%;
}

.A4-size {
    height: 3508px;
    width: 2480px;
}


/* Display */
.display-flex {
    display: flex;
}

.display-grid {
    display: grid;
}


/* Float */
.float-right{
    float: right;
}

.float-left{
    float: left;
}


/* Fonts */
.font-math {
    color: #0D4C92;
    font-family: math;
}

.font-cursive, label {
    color: #0D4C92;
    font-family: cursive;
}

.ff-aleo-b {
    font-family: Aleo-Bold;
}

.ff-aleo-r {
    font-family: Aleo-Regular;
}

.font-larger {
    font-size: large;
}

.font-085em {
    font-size: 0.85em;
}

.font-size-12 {
    font-size: 12px;
}


.w-w-text {
    position: absolute;
    top: 34%;
    left: 40%;
    font-weight: bold;
}

.w-company {
    color: #0D4C92;
    position: absolute;
    top: 50%;
    left: 27%;
}

.w-company img {
    opacity: 20%;
    width: 30%;
    bottom: 0;
    right: 0;
    position: absolute;
}

.w-person {
    color: #0D4C92;
    position: absolute;
    top: 52%;
    left: 43%;
    font-family: inherit;
}

.w-person img {
    opacity: 20%;
    width: 35%;
    bottom: -3px;
    right: -3px;
    position: absolute;
}

.btn-save {
    background-color: #A0E4CB;
}

.title {
    border-radius: 20px 100px;
    font-size: larger;
    font-family: cursive;
}

.profile-tb td {
    width: 50%;
}

.profile-image {
    width: 10em;
    border: 2px solid ghostwhite;
}

.profile-image-aside {
    width: 4em;
    height: 4em;
    border: 2px solid ghostwhite;
}

.profile-image-edit {
    width: 15em;
    border: 2px solid ghostwhite;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-image-button {
    width: 0px;
    height: 0px;
    border: none;
    background-color: transparent;
}

.background-image {
    min-height: 200px;
    max-height: 200px;
}

.sheet-outer {
    margin: 0;
    background: #e0e0e0;
}

.sheet {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    page-break-after: always;
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin-left: auto;
    margin-right: auto;
}

.sheet-outer.A4 .sheet {
    width: 210mm;
    height: 296mm
}

.sheet-outer.A4 .sheet hr {
    opacity: 1;
}

.vertical-line {
    border-left: 2px solid #031633;
    margin-top: -70%;
    margin-left: 13%;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: #031633;
    border-radius: 50%;
    display: inline-block;
    margin-top: -31%;
    margin-bottom: 25%;
    border: 2px solid #031633;
}

.cv-second-title {
}