<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" th:href="@{images/icon/job-search.png}"/>
    <link rel="stylesheet" th:href="@{css/main.css}"/>
    <link rel="stylesheet" th:href="@{css/fonts.css}"/>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
    <script rel="script" th:src="@{js/bootstrap.bundle.min.js}"></script>
    <script rel="script" th:src="@{js/main.js}"></script>
    <title>Edit Experience</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="nav justify-content-center third-bg-color">
        <div class="row w-100">
            <div class="col-md-4 align-items-center">
                <a th:href="@{/}"><img class="icon-size-64" th:src="@{images/icon/job-search.png}"></a>
            </div>
            <div class="col-md-4">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link align-items-center" th:href="@{/}">
                            <img class="icon-size-32" th:src="@{images/icon/homepage.png}">
                            <p class="icon-text">Home</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4"></div>
        </div>
    </nav>
    <!-- End Navbar -->

    <!-- Main container -->
    <div class="container mt-4" id="main-container">
        <div class="row" id="main-grid">
            <!-- Main -->
            <main class="col-md-10 ms-5" id="main-part">
                <!-- Experiences -->
                <section class="rounded mb-3 ghostwhite-bg-color joby-block" id="experience-sec">
                    <!-- Experiences edit modal -->
                    <section tabindex="-1" id="edit-experience">
                        <div  id="edit-experience-modal-dialog">
                            <div  id="edit-experience-modal-content">
                                <div class="col-md-4"><h4 class="title">Experience</h4></div>
                                <form th:action="@{/updateExperience}" method="post" th:object="${experience}">
                                    <input hidden th:name="extId" th:value="${experience.getId()}"/>
                                    <section id="edit-experience-body">
                                        <div class="display-grid">
                                            <table class="w-100">
                                                <tbody class="experience-tb">
                                                <tr>
                                                    <td><label for="title">Title</label></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input id="title" type="text" placeholder="Title" class="pt-1 mb-2 w-100"
                                                               th:field="*{title}" th:value="${title}" required>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><label for="company-name">Company name</label></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input id="company-name" type="text" placeholder="Company name"
                                                               th:field="*{companyName}" th:value="${companyName}"
                                                               class="pt-1 mb-2 w-100" required>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><label for="type">Type</label></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <select id="type" th:field="*{type}" class="pt-1 mb-2 w-100" required>
                                                            <option th:each="item: ${experienceTypeList}" th:value="${item.id}"
                                                                    th:text="${item.name}" th:selected="${type}"></option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><label for="related-industry">Industry</label></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <select id="related-industry" th:field="*{industry}"
                                                                class="pt-1 mb-2 w-100" required>
                                                            <option th:each="item: ${industryList}" th:value="${item.id}"
                                                                    th:text="${item.name}" th:selected="${industry}"></option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><label for="location">Location</label></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input id="location" type="text" placeholder="Location(City)"
                                                               th:field="*{location}" th:value="${location}"
                                                               class="pt-1 mb-2 w-100">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><label for="location-type">Location type</label></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <select id="location-type" th:field="*{workLocationType}"
                                                                class="pt-1 mb-2 w-100" required>
                                                            <option th:each="item: ${locationTypeList}" th:value="${item.id}"
                                                                    th:text="${item.name}" th:selected="${workLocationType}"></option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <section class="display-flex mt-3">
                                                <hr class="w-50 ml-25">
                                            </section>
                                            <table class="w-100">
                                                <tbody class="profile-tb">
                                                    <tr>
                                                        <td><label>Do you currently working here?</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input id="is-until-work" type="checkbox" th:checked="*{isUntilWork}"
                                                                   class="pt-1 mb-2 w-100" onchange="makeExperienceEndDateRequired()">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><label for="exp-start-date">Start date</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input id="exp-start-date" type="date" placeholder="Start date"
                                                                   th:field="*{startDate}" th:value="${startDate}"
                                                                   class="pt-1 mb-2 w-100" required>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><label for="exp-end-date">End date</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input id="exp-end-date" type="date" placeholder="End date"
                                                                   th:field="*{endDate}" th:value="${endDate}"
                                                                   class="pt-1 mb-2 w-100" required>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <section class="display-flex mt-3">
                                                <hr class="w-50 ml-25">
                                            </section>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td><label for="description">Description</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <textarea id="description" class="pt-1 mb-2 w-100"
                                                                      th:field="*{description}" th:value="${description}"></textarea>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </section>
                                    <section id="edit-experience-footer">
                                        <div class="mt-3 align-items-center">
                                            <button id="edit-exp-save" name="save" type="submit"
                                                    class="btn-save ms-2 mb-4 mt-3 w-25 rounded-5">
                                                Save
                                            </button>
                                        </div>
                                    </section>
                                </form>
                            </div>
                        </div>
                    </section>
                </section>
            </main>
            <!-- End Main -->
        </div>
    </div>
    <!-- End Main container -->
</body>
</html>
